<div class="page-container">
  <div class="data-card">
    <!-- HEADER -->
    <div class="card-header-bar">
      <div class="header-row">
        <div class="header-title-group">
          <div class="header-icon-wrap">
            <i class="fa-solid fa-user-plus"></i>
          </div>
          <div>
            <h5 class="header-title">Employee Management</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- FORM -->
    <div class="form-container">
      <!--  Staff Code + Staff Name -->
      <div class="form-row">
        <div class="form-group">
          <label class="form-label">Staff Code </label>
          <input
            type="text"
            [(ngModel)]="employee.StaffCode"
            class="custom-input"
            placeholder="Enter Staff Code"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Staff Name </label>
          <input
            type="text"
            [(ngModel)]="employee.StaffName"
            class="custom-input"
            placeholder="Enter Staff Name"
          />
        </div>
      </div>

      <!-- Gender + Status -->
      <!-- <div class="form-row">
        <div class="form-group">
          <label class="form-label">Gender</label>
          <div class="radio-group">
            <label class="radio-option">
              <input type="radio" [(ngModel)]="employee.Gender" value="Male" />
              <span class="radio-label male-label">Male</span>
            </label>
            <label class="radio-option">
              <input
                type="radio"
                [(ngModel)]="employee.Gender"
                value="Female"
              />
              <span class="radio-label female-label">Female</span>
            </label>
            <label class="radio-option">
              <input type="radio" [(ngModel)]="employee.Gender" value="Other" />
              <span class="radio-label">Other</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Status</label>
           <input
            type="text"
            [(ngModel)]="employee.Status"
            class="custom-input"
            placeholder="Enter Status"
          />
        </div>
      </div> -->

      <!-- we can write another way -->
      <div class="form-row">
        <!-- Gender -->
        <div class="form-group">
          <label class="form-label">Gender</label>

          <div class="radio-group">
            <label class="radio-option" *ngFor="let gender of genderOptions">
              <input
                type="radio"
                [(ngModel)]="employee.Gender"
                [value]="gender.value"
                name="gender"
              />
              <span class="radio-label" [ngClass]="gender.class">
                {{ gender.label }}
              </span>
            </label>
          </div>
        </div>

        <!-- Status -->
        <div class="form-group">
          <label class="form-label">Status</label>
          <input
            type="text"
            [(ngModel)]="employee.Status"
            class="custom-input"
            placeholder="Enter Status"
          />
        </div>
      </div>
      <!--  Company + Department -->
      <div class="form-row">
        <div class="form-group">
          <label class="form-label">Company</label>
          <select
            [(ngModel)]="employee.CompanySName"
            name="CompanySName"
            class="form-control custom-input"
          >
            <option value="">Select Company</option>

            <option
              *ngFor="let company of companyList"
              [value]="company.companySName"
            >
              {{ company.companySName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">Department</label>
          <select [(ngModel)]="employee.DepartmentSName" class="custom-input">
            <option value="">Select Department</option>
            <option
              *ngFor="let department of departmentList"
              [value]="department.departmentSName"
            >
              {{ department.departmentSName }}
            </option>
          </select>
        </div>
      </div>

      <!--  Location + Designation -->
      <div class="form-row">
        <div class="form-group">
          <label class="form-label">Location</label>
          <select [(ngModel)]="employee.Location" class="custom-input">
            <option value="">Select Location</option>
            <option
              *ngFor="let location of locationList"
              [value]="location.locationName"
            >
              {{ location.locationName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">Designation</label>
          <select [(ngModel)]="employee.Designation" class="custom-input">
            <option value="">Select Designation</option>
            <option
              *ngFor="let designation of designationList"
              [value]="designation.designationsName"
            >
              {{ designation.designationsName }}
            </option>
          </select>
        </div>
      </div>

      <!--  Grade + Team -->
      <div class="form-row">
        <div class="form-group">
          <label class="form-label">Grade</label>
          <input
            type="text"
            [(ngModel)]="employee.Grade"
            class="custom-input"
            placeholder="Enter Grade"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Team</label>
          <input
            type="text"
            [(ngModel)]="employee.Team"
            class="custom-input"
            placeholder="Enter Team"
          />
        </div>
      </div>

      <!-- DOJ + DOC -->
      <div class="form-row">
        <div class="form-group">
          <label class="form-label">DOJ (Date of Joining)</label>
          <input type="date" [(ngModel)]="employee.DOJ" class="custom-input" />
        </div>
        <div class="form-group">
          <label class="form-label">DOC (Date of Confirmation)</label>
          <input type="date" [(ngModel)]="employee.DOC" class="custom-input" />
        </div>
      </div>

      <!--  DOB + DOR -->
      <div class="form-row">
        <div class="form-group">
          <label class="form-label">DOB (Date of Birth)</label>
          <input type="date" [(ngModel)]="employee.DOB" class="custom-input" />
        </div>
        <div class="form-group">
          <label class="form-label">DOR (Date of Retirement)</label>
          <input type="date" [(ngModel)]="employee.DOR" class="custom-input" />
        </div>
      </div>

      <!-- SAVE BUTTON -->
      <!-- <div class="btn-wrap">
        <button class="save-btn" (click)="  submitButton()">
          <i class="fa-solid fa-floppy-disk"></i>
        Submit
        </button>
      </div> -->
      <div class="btn-wrap">
        <button class="save-btn" (click)="submitButton()">
          <i class="fa-solid fa-floppy-disk"></i>
          {{ buttonMessage }}
        </button>
      </div>
    </div>
  </div>
</div>
