<div class="container">
  <h2>Employee Management</h2>

  <div class="form-group">
    <label>Staff Code</label>
    <input type="text" [(ngModel)]="employee.StaffCode" class="form-control" />
  </div>

  <div class="from-group">
    <label>Staff Name</label>
    <input type="text" [(ngModel)]="employee.StaffName" class="form-control" />
  </div>

  <div class="from-group">
    <label>Company</label>
    <select [(ngModel)]="employee.CompanySName" class="form-control">
      <option value="">Select Company</option>
      <option
        *ngFor="let company of companyList"
        [value]="company.BranchShortName"
      >
        {{ company.BranchShortName }}
        {{ company.BranchFullName }}
        {{ company.BrancheMail }}
        {{ company.BranchWebsite }}
      </option>
    </select>
  </div>

  <div class="from-group">
    <label>Department</label>
    <select [(ngModel)]="employee.DepartmentSName">
      <option
        *ngFor="let department of departmentList"
        [value]="department.DepartmentFName"
      >
        {{ department.DepartmentFName }}
        {{ department.DepartmentSName }}
        {{ department.DepartmenteMail }}
        {{ department.Description }}
      </option>
    </select>
  </div>

  <div class="from-group">
    <label>Location</label>
    <select [(ngModel)]="employee.Location">
      <option
        *ngFor="let location of locationlist"
        [value]="location.LocationName"
      >
        {{location.LocationName}}
        {{location.LocationCode}}
        {{location.eMail}}
        {{location.LocationLattitude}}
        {{location.LocationLongitude}}
        {{location.Radius}}
        {{location.LocationFullAddress}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Designation</label>
    <select [(ngModel)]="employee.Designation">
        <option *ngFor="let designation of  designationList"
        [value]="designation.DesignationsName">
        {{designation.DesignationsName}}
        {{designation.DesignationCode}}
        </option>
    </select>
  </div>

  <button (click)="saveEmployee()">
    Save Employee
  </button>
</div>
