<div class="page-container">
  <div class="data-card">
    <div class="card-header-bar">
      <div class="header-row">
        <div class="header-title-group">
          <div class="header-icon-wrap">
           <i class="fa-solid fa-id-badge nav-icon"></i>
          </div>

          <div>
            <h5 class="header-title">Designation List</h5>
          </div>
        </div>

        <div class="span">
          <span class="count-badge">
            {{ filteredList.length ? startVlaue : 0 }} -
            {{ filteredList.length ? lastValue : 0 }} of
            {{ pagesize.count }} designation
          </span>
        </div>

        <div class="header-pagination">
          <pagination-controls
            id="empId"
            (pageChange)="onTablePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>


    <div class="filter-bar">
      <div class="filter-left">
        <input
          type="text"
          class="form-control"
          placeholder="Search Designation..."
          (input)="onSearch($event)"
        />
      </div>

      <div class="filter-right">
        <div class="filter-group">
          <label class="filter-label">ITEMS</label>
          <select
            class="select-styled select-sm"
            (change)="onPageSizeChange($event)"
          >
            <option *ngFor="let size of [25, 50, 100]" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>

        <div class="filter-group btn-group-update">
          <button
            (click)="resetForm()"
            class="btn btn-update"
            data-bs-toggle="modal"
            data-bs-target="#designationModal"
          >
            <i class="fa-solid fa-plus me-1"></i>
            Add Designation
          </button>
        </div>
      </div>
    </div>

    <div class="card-body-area">
      <div class="table-responsive" *ngIf="filteredList.length">
        <table class="custom-table">
          <thead>
            <tr>
              <th *ngFor="let col of tableHeading">
                {{ col.title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let data of filteredList
                  | paginate
                    : {
                        id: 'empId',
                        itemsPerPage: pagesize.limit,
                        currentPage: pagesize.offset,
                        totalItems: pagesize.count,
                      };
                let i = index
              "
            >
              <td>
                <span class="sno-badge">
                  {{ (pagesize.offset - 1) * pagesize.limit + i + 1 }}
                </span>
              </td>
              <td>{{ data.designationId }}</td>
              <td>{{ data.designationsName }}</td>
              <td>{{ data.designationCode || "-" }}</td>
              <td>{{ data.normalNoticePeriodRequired || "-" }}</td>
              <td>
                <div class="action-buttons">
                  <button class="icon-btn edit-btn" (click)="editData(data)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    class="icon-btn delete-btn"
                    (click)="deleteData(data)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="no-data-msg" *ngIf="!filteredList.length">
        <div class="no-data-icon">
          <i class="fa-solid fa-inbox"></i>
        </div>
        No Company Found
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal fade"
  id="designationModal"
  tabindex="-1"
  aria-labelledby="designationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="designationModalLabel">
          {{
            designation.designationId ? "Update Designation" : "Add Designation"
          }}
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Designation Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="designation.designationsName"
              placeholder="Enter Designation Name"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Designation Code</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="designation.designationCode"
              placeholder="Enter Designation Code"
            />
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        <!-- SAVE / UPDATE -->
        <button
          type="button"
          class="btn btn-primary"
          (click)="
            designation.designationId ? updateDesignationData() : addForm()
          "
        >
          {{ designation.designationId ? "Update" : "Save" }}
        </button>
      </div>
    </div>
  </div>
</div>
